html, body {
    padding: 0;
    margin: 0;
}

#container {
    position: relative;
    width: 100%;
    padding-top: 10vh;
}

.middle {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    position: fixed;
    width: 10%;
}

#leftsidebar {
    left: -1%;
}

#rightsidebar {
    right: -1%;
}

