#navbar {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-template-areas: "logo 01 02 03 04 05";
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /** Sets the stack order of the navbar - Higher the number, higher the priority */
    transition: all .3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}

#navbar.hide {
    top: -53px;
}

#logo {
    grid-area: logo;
}

#01 {
    grid-area: 01;
}

#02 {
    grid-area: 02;
}

#03 {
    grid-area: 03;
}

#04 {
    grid-area: 04;
}

#05 {
    grid-area: 05;
}